// Place all the styles related to the bases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-base-new {
  margin-top : 10px;
  margin-left : 10px;
}

.btn-Base-edit {
  margin-top : 10px;
}

.btn-new-task {
  margin-top : 10px;
}
